.sectionHeader {
  margin-block-end: 5rem;
  max-width: 70ch;
  margin-inline: auto;
}

.sectionHeader h2 {
  color: inherit;
  font-size: 4rem;
  line-height: 1.2;
  margin-block: 0 1rem;
}

.sectionHeader p {
  color: inherit;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .sectionHeader {
    text-align: center;
  }
}